{# component for piedweb-devoluix-theme #}

{% extends '@!PiedWebCMS/page/_pages_list.html.twig' %}



{% block header %}
    {% if page.mainImage is defined and page.mainImage is not null %}
        <div class="card-header card-header-img">
            <span class="card-img-top img-fluid rounded" data-img="{{ (page.mainImage.relativeDir ~ '/' ~ page.mainImage.media) |imagine_filter('thumb') }}">{{ page.title|striptags }}</span>
            <div class="shadow-color" data-bg="{{ (page.mainImage.relativeDir ~ '/' ~ page.mainImage.media) |imagine_filter('thumb') }}"></div>
        </div>
    {% endif %}
{% endblock %}
